<html>
    <body>
           <h1> Ajouter un contact </h1>
           <form Action="/contact/addaction" method="post">
                <input type ="text" name="FullName">
                <input type ="number" name="Phone">
                <input type ="submit" name="Ajouter">


           </form>
    </body>
</html>