<html>
    <head> 
        <title> List des contacts </title>
    </head>
    <body> 
        <h1> List des contacts </h1>
        <h4> <a href="/contact/addform"> Ajouter un contact </a>  </h4>
        <h4>   Recherchce un contact par nom ou Phone   </a>  </h4>
        <form action ="/contact/search" method="post">
                <input type ="text" name="search"/>
                <input type ="number" name="pn"/>
                <input type ="submit" value="OK"/>

         </form>

        <table border="1">
            <thead>
            <th> Nom et prenom </th>
            <th> Phone </th>
             <th> Action </th>
             <th> Action </th>

            </thead>

            <tbody>
            {% for item in data %}
                <tr>
                     <td>{{item.FullName}}</td>
                     <td> {{item.Phone}} </td>
                      <td> <a href="/contact/update/{{item._id}}"> Update </a></td>
                     <td> <a href="/contact/delete/{{item._id}}"> Delete </a></td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </body>
</html>