<html>
    <body>
           <h1> Chercher un contact </h1>
           <form Action="" method="post">
                <label> id </label>
                <input type ="text" name="id" value="">
                <input type ="submit" name="Chercher">
           </form>
    </body>
</html> 