<html>
    <body>
           <h1> Modifier un contact </h1>
           <form Action="/contact/updateaction" method="post">
                <input type ="text" name="FullName" value="{{doc.FullName}}" >
                <input type ="number" name="Phone" value="{{doc.Phone}}">
                <input type ="text" name="id" hidden value="{{doc._id}}">
                <input type ="submit" name="Modifer">
           </form>
    </body>
</html>