<html>
    <body>
           <h1> Modifier un contact </h1>
           <form Action="/contact/updateaction/:id" method="put">
                <input type ="text" name="FullName" >
                <input type ="number" name="Phone">
                <input type ="submit" name="Modifer">
           </form>
    </body>
</html>